{:itonami.blueprint/id "cloud-itonami-isic-2822"
 :itonami.blueprint/name "Manufacture of Metal-Forming Machinery and Machine Tools"
 :itonami.blueprint/isic-rev5 "2822"
 :itonami.blueprint/domain :manufacturing/machine-tools
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:industrial-safety :supply-resilience :industrial-jobs]
 :itonami.blueprint/governor :machinetool-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :cae :dmn :bpmn :audit-ledger]
 :itonami.blueprint/optional-technologies [:telemetry :optimization]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :implemented}
