{:kotoba.app/id "cloud.itonami.isic-2822", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihng3gltb6lu4hbxpywtjdqyt4z4ddr27ext6d5zsbunfhtqlzgnq", :kotoba.app/embed-url "ipfs://bafkreihng3gltb6lu4hbxpywtjdqyt4z4ddr27ext6d5zsbunfhtqlzgnq", :published {:archive "https://kotobase.net/ipfs/bafkreihng3gltb6lu4hbxpywtjdqyt4z4ddr27ext6d5zsbunfhtqlzgnq", :size 72533, :put-status 201, :get-status 200, :at "2026-08-15T13:59:08.432Z"}}
